html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: var(--background-color);

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	/* ==== color ==== */
	--background-color: #F5F6F8;
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--green-light: #C8F8E4;
	--green: #1DC37E;
	--primary-hover: #6344DF;
	--primary: #7653FC;
	--red: #FC836D;
	--white: white;

	/* ==== font--family ==== */
	--font-family: "Noto Sans KR", sans-serif;
}
